.cont {
    font-size: 20px;
    padding: 40px
}

.col {
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.newDCont {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px
}

.title {
    text-align: center;
    font-weight: bold;
}

.text {
    margin: 0;
    padding: 0;
}

.lab {
    display: flex;
    flex-direction: column;
}

.btnP {
    height: 2em;
    width: 190px;
    margin-top: 20px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #2473FF
}

.btnS {
    height: 2em;
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    align-self: center;
}

.validationError {
    font-weight: bold;
    color: red;
    border-radius: 10px;
    border: 1px red solid;
    text-align: center;
    padding: 5px;
    margin: 0;
    margin-top: 20px
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px
}

.ent {
    width: 45%;
    display: flex;
    margin-bottom: 20px;
    height: 100px;
    box-shadow: 0px 0px 4px black;
    text-decoration: none;
    color: black;
}

.iCont {
    height: inherit;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tCont {
    width: 100%;
    display: flex;
    align-items: center;
}


@media (max-width: 700px) {
    .list .ent {
        width: 100%;
    } 

    .cont {
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px
    }
}