.pCont {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pLst {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.p {
    height: 100px;
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px black;
}

.idCont {
    height: inherit;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nCont {
    width: 100%;
    overflow-y: scroll;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metaCont {
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px
}

.text {
    width: 100%;
    margin: 0;
    text-decoration: none;
    color: black;
}

.pPag {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px
}

.pInfCont {
    width: 60%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pTitleSect {
    width: 100%;
    text-align: center;
    margin-bottom: 30px
}

.imageSect {
    height: 300px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.inpF {
    margin: 20px;
}

.pMetaSect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

.lab {
    display: flex;
    flex-direction: column;
    width: 85%;
    font-size: larger;
    font-weight: bold;
}

.descSect {
    width: 100%;
    font-size: x-large;
    padding: 20px
}

.descLab {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
}

.desc {
    font-size: medium;

}

.tColr {
    border: none;
}

.validationError {
    font-weight: bold;
    margin: 0;
    margin-top: 30px;
    
    border: 1px red solid;
    border-radius: 7px;
    color: red;
    text-align: center
}

.inp {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 2.5em;
    margin-bottom: 40px;
}

.prompt {
    width: 40%;
}

@media (max-width: 900px) {
    .pCont {
        padding: 10px
    }

    .pCont .pLst {
        width: 90%;
    }

    .p .nCont {
        font-size: 16px
    }
    
    .p .metaCont {
        font-size: 14px
    }

    .pPag {
        padding: 10px
    }

    .pPag .pInfCont {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .pCont .pLst {
        width: 100%;
    }

    .pPag .pInfCont {
        width: 100%;
    }

    .inp .prompt {
        width: 100%;
    }
}