@media (max-width: 950px) {
    .headerPrimary .linksContainer {
        display: none;
    }

    .headerPrimary .accountContainer {
        display: none
    }

    .headerPrimary .menuContainer {
        display: flex;
    }
    
    .headerPrimary .menuContainer .innerMenu {
        display: flex;
    }

    .headerPrimary .menuContainer .innerMenu .menuLinksContainer {
        display: none
    }

    .headerPrimary .menuContainer .innerMenu .menuIcon {
        display: block
    }
   
}

body {
    font-family: sans-serif;
    background-color: #E6F4F1;
}

.headerPrimary {
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: #2473FF;
    display: flex;
    align-items: center;
}

.logoContainer {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.logoLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logoIcon {
    height: 4em;

}

.logoPrimary {
    font-size: 1.6em;
    font-weight: bold;
    color: #E6F4F1;
    text-shadow: 2px 2px #001F91;
}

.linksContainer {
    flex-basis: 40%;
    height: inherit;
    display: flex;
    justify-content: left;
    margin-left: 10px
}

.linkContainer {
    width: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}

.linkContainer:hover {
    background-color: #E6F4F1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #001F91
}


.linkContainer:active {
    background-color: powderblue;
}

.accountContainer {
    flex-basis: 40%;
    height: inherit;
    display: flex;
    justify-content: right;
}

.accountButton {
    width: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E6F4F1;
    text-decoration: none;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.accountButton:hover {
    background-color: #E6F4F1;
}

.icon {
    height: 2em;
    width: 2em;
}

.cartButton {
    width: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E6F4F1;
    text-decoration: none;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cartButton:hover {
    background-color: #E6F4F1;
}

.languageSwitch {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.languageButton {
    text-decoration: none;
    margin: 0.2em;
}

.menuContainer {
    flex-basis: 80%;
    justify-content: flex-end;
    height: inherit;
    display: none;
    align-items: center;
}

.innerMenu {
    display: none;
}

.menuIcon {
    height: 3em;

}

.menuCheckbox {
  display: none;
}

.menuContentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 4em;
}

.menuContentBox:hover {
    background-color: #001F91;
}


.headerLink {
    text-decoration: none;
    font-size: 1em;
    color: #E6F4F1;
}


