@media (max-width: 1000px) {
    .headerPrimary .linksContainer {
        display: none;
    }

    .headerPrimary .accountContainer {
        display: none
    }

    .headerPrimary .menuContainer {
        display: flex
    }

}

@keyframes menuAppearAnimation {
    0% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

body {
    font-family: Ubuntu, sans-serif;
    background-color: white;
}

.headerPrimary {
    width: 100%;
    height: 4em;
    background-color: #2473FF;
    display: flex;
    align-items: center;
}

.logoContainer {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    padding-left: 1em;
    padding-right: 1em;
}

.logoContainer:hover {
    background-color: rgba(0, 31, 145, 0.3);
}

.logoContainer:active {
    background-color: rgba(0, 31, 145, 0.5);
}

.logoLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logoIcon {
    height: 4em;
}

.logoPrimary {
    font-size: 1.6em;
    font-weight: bold;
    color: #E6F4F1;
    text-shadow: 0px 0px 5px #001F91;
}

.linksContainer {
    flex-basis: 40%;
    height: inherit;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px
}

.linkContainer {
    width: 6em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 20px;
}

.linkContainer:hover {
    background-color: #E6F4F1;
    color: #001F91;
}


.linkContainer:active {
    background-color: powderblue;
}

.accountContainer {
    flex-basis: 40%;
    height: inherit;
    display: flex;
    justify-content: right;
}


.accountButton {
    width: 5em;
    height: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E6F4F1;
    text-decoration: none;
}

.accountText {
    padding: 0;
    margin: 0;
    font-size: small;;
}

.accountButton:hover {
    background-color: rgba(0, 31, 145, 0.3);
}

.accountButton:active {
    background-color: rgba(0, 31, 145, 0.5);
}

.icon {
    height: 2.5em;
    width: 2.5em;
    background-size: cover;
    background-position-y: 50%;
    border-radius: 100%;
    border: 1px white solid
}

.cartIcon {
    border: none;
    background-size: 1.9em;
    background-repeat: no-repeat;
    background-position: center;
}

.cartButton {
    position: relative;
}

.cartButton:hover {
    background-color: rgba(0, 31, 145, 0.3);
}

.cartButton:active {
    background-color: rgba(0, 31, 145, 0.5);
}

.radioHidden {
    display: none;
}

.headerLink {
    text-decoration: none;
    font-size: 1em;
    color: #E6F4F1;
}

.menuContainer {
    display: none;
    flex-basis: 80%;
    height: inherit;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    cursor: pointer;
    height: 4em;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.menu:hover:not(:focus-within) {
    background-color: rgba(0, 31, 145, 0.5);
}

.menuIcon {
    height: 3em;
    width: 3em;
}

.menu:focus-within > .menuLinksBackgroundContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    animation: 0.2s linear 0s 1 running menuAppearAnimation;
}

.menu:focus-within .menuButton {
    display: none;
}

.menu:focus-within {
    cursor: inherit
}

.closeButton {
    display: none;
    background: none;
    border: none;
    height: 4em;
    width: 4em;
}

.menu:focus-within ~ .closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu:focus-within ~ .closeButton:hover {
    background-color: rgba(0, 31, 145, 0.5);
}

.closeIcon {
    height: 3em;
}

.menuLinksBackgroundContainer {
    display: none;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    position: absolute;
    background-color: #2473FF;
    top: 4em;
    left: 0em;
}

.menuLinksContainer {
    height: inherit;
    width: inherit;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0em;
    margin-top: 1em;
}

.menuLinkContainer {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.menuLink {
    text-decoration: none;
    font-size: x-large;
    color: #E6F4F1;
}

.menuLinkContainer:hover {
    background-color: #E6F4F1;
    color: #001F91;
}

.menuLinkContainer:hover .menuLink {
    color: #001F91;
}

.menuLinkContainer:active {
    background-color: powderblue;
}

.horisontalRulerMenu {
    color: #001F91;
    width: 90%;
    border-width: 1px;
    border-style:ridge;
    box-shadow: 0px 2px 5px black;
}

.menuAdditionalButtonsContainer {
    width: inherit;
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
}

.accountButtonMenu {
    flex-basis: 100%;
    display: flex;
    margin-right: 0.5em;
    justify-content: space-between;
}

.accountButtonMenuContent {
    border-radius: 10px;
}

.counterStyle {
    display: none;
    position: absolute;
    border: 1px solid white;
    width: 1.2rem;
    height: 1.2rem;
    top: 0.4rem;
    right: 0.4rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

