.paginationContainer {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pagination {
    min-width: 100px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
}

.link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.dots {
    margin-left: 5px;
    margin-right: 5px;
}

.primaryPageNumber {
    background-color: rgba(36, 115, 255, 1);
    color: white
}

.primaryPageNumber:hover {
    background-color: rgba(0, 31, 145, 0.7)
}

.primaryPageNumber:active {
    background-color: rgba(0, 31, 145, 0.9);

}

.secondaryPageNumber:hover {
    background-color: white
}

.leftArrow {
    height: 1em;
    width: 1em;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
    margin-right: 5px;

    transform: 
        rotateZ(45deg);
}

.rightArrow {
    height: 1em;
    width: 1em;
    border-right: 2px black solid;
    border-top: 2px black solid;
    margin-left: 5px;

    transform: 
        rotateZ(45deg);
}