@media (max-width: 700px) {
    .productPageMainContainer .searchBarContainer .searchBar .searchBarPrompt {
        width: 50vw;
    }
}

.productPageMainContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchBarContainer {
    height: 5em;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.2em;
}

.searchBarIcon {
    height: 4em;
    margin-right: 0.5em;
    align-self: flex-start;
}

.searchBarPrompt {
    height: 2.5em;
    width: 50vw;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 2px #2473FF;
    border: 0.5px solid #2473FF;
}

.searchBarEnterButton {
    height: 2.5em;
    width: 6em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: orange;
    color: black;
    border: 1px black solid;
    text-shadow: 0px 0px 1px #001F91;
}

.searchBarEnterButton:active {
    background-color: darkorange;
}

.informationPanelContainer {
    height: 20em;
}

@media (max-width: 1400px) {
    .productsListContainer .productsList .productCardBodyContainer {
        width: 20%;
    }
}

@media (max-width: 1100px) {
    .productsListContainer .productsList .productCardBodyContainer {
        width: 25%;
    }
}

@media (max-width: 900px) {
    .productsListContainer .productsList .productCardBodyContainer {
        width: 33.3%;
    }
}

@media (max-width: 700px) {
    .productsListContainer .productsList .productCardBodyContainer {
        width: 50%;
    }
}



@media (max-width: 1000px) {
    .informationPanelContainer .categoriesContainer {
        display: none;
    }

    .informationPanelContainer .informationBanner {
        margin-left: 0em;
    }

    .informationPanelContainer .informationBanner .descriptionPanel {
        display: none;
    }

    .informationPanelContainer .informationBanner .informationBannerLink {
        margin-left: 0;
    }

    .informationPanelContainer .informationBanner .informationBannerImage {
        min-width: none;
        max-width: none;
        width: 85vw;
    }
}

.informationPanelContainer {
    display: flex;
    margin: 1%;
    height: fit-content;
    justify-content: space-between;
}

.categoriesContainer {
    width: fit-content;
    border-radius: 7px;
    margin-right: 1em;
}

.categoriesContainer:empty {
    margin-right: 0em;
}

.categoryLink {
    text-decoration: none;
    margin: 0;
}

.categoryContainer {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
    padding-left: 0.5em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.categoryContainer:hover {
    background-color: #2473FF;
}

.categoryContainer:hover .category {
    color: white
}

.category {
    margin: 0;
    color: black;
    display: inline;
    white-space: nowrap
}

.arrow {
    height: 1.2em;
    margin-left: 0.9em;
}

.informationBanner {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 2px #2473FF;
}

.informationBannerLink {
    margin-left: 1em;
    align-self: center;
}

.informationBannerImage {
    min-width: 20vw;
    max-width: 40vw;
    padding: 15px
}

.descriptionPanel {
    width: 100%;
    border-radius: 7px;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.descriptionPanelHeader {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
}

.descriptionSeparator {
    width: 100%;
    border: 0.1px #2473FF solid;
    border-radius: 1px;
    box-shadow: 0px 0px 3px #2473FF;
    margin-top: 0;
    margin-bottom: 1em;
}

.priceContainer {
    margin-bottom: 1.5em;
}

.price {
    font-size: 2em;
    font-weight: bold;
}

.priceBefore {
    text-decoration: line-through;
    font-weight: normal;
}

.descriptionPanelButtonContainer {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.descriptionPanelButton {
    height: 2.5em;
    border-radius: 10px;
    background-color: orange;
    color: black;
    border: 1px black solid;
    text-shadow: 0px 0px 1px #001F91;
}

.descriptionPanelButton:active {
    background-color: darkorange;
}

.productsListContainer {
    background-color: #e6f4f1;
    padding-top: 2em;
    padding-left: 6%;
    padding-right: 6%;
}

.productsList {
    display: flex;
    flex-wrap: wrap;
}

.productCardBodyContainer {
    width: 20%;
    min-height: 300px;
    max-height: 600px;
    display: flex;
    padding: 7px;
    padding-bottom: 13px;
}

.productCardBody {
    background-color: white;
    flex-basis: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.productCardBody:hover {
    box-shadow: 0px 0px 15px grey;
}

.productCardImageLink {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.productCardImage {
    width: 95%;
    border-radius: 3px;
}

.productCardContent {
    flex-basis: 50%;
    padding: 10px;
    padding-bottom: 0;
}

.productCardLink {
    text-decoration: none;
    color: black
}

.productCardTitle {
    font-size: 1.1rem;
    margin: 0;
}

.productCardPrice {
    font-size: large;
    font-weight: bold;
    margin: 0;
}

.productCardButtonSection {
    flex-basis: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 10px;
    padding-bottom: 10px;
}

.productCardButton {
    height: 2em;
    width: 5em;
    border-radius: 10px;
    background-color: orange;
    color: black;
    border: 1px black solid;
    text-shadow: 0px 0px 1px #001F91;
}

.productCardButton:active {
    background-color: darkorange;
}