@media (max-width: 700px) {
    .productPageMainContainer .searchBarContainer .searchBar .searchBarPrompt {
        width: 50vw;
    }
}

.productPageMainContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchBarContainer {
    height: 5em;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.2em
}

.searchBarIcon {
    height: 4em;
    margin-right: 0.5em;
    align-self: flex-start;
}

.searchBarPrompt {
    height: 2.5em;
    width: 50vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px #2473FF;
}

.searchBarEnterButton {
    height: 2.5em;
    width: 6em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: orange;
    color: black;
    border: 1px black solid;
    text-shadow: 0px 0px 1px #001F91;
}

.searchBarEnterButton:active {
    background-color: darkorange;
}

.informationPanelContainer {
    border: 1px solid black;
    height: 20em;
}

.productsListContainer {
    border: 1px solid black;
    height: 6em;
}

.productsList {
    border: 1px solid black;
    height: 4em;
    margin: 1em;
}

@media (max-width: 700px) {
    .informationPanelContainer .categoriesContainer {
        display: none;
    }

}

@media (max-width: 1000px) {
    .informationPanelContainer .informationBanner .descriptionPanel {
        display: none;
    }

    .informationPanelContainer .informationBanner .informationBannerLink {
        margin-left: 0;
    }

    .informationPanelContainer .informationBanner {
        margin-left: 1em
    }

    .informationPanelContainer .informationBanner .informationBannerImage {
        min-width: none;
        max-width: none;
        width: 100%;
    }
}

.informationPanelContainer {
    display: flex;
    margin: 1%;
    height: fit-content;
    justify-content: space-between;
}

.categoriesContainer {
    border: 1px black solid;
    min-width: 20vw;
    max-width: 200vw;
    border-radius: 20px;
    background-color: #2473FF;
}

.informationBanner {
    border: 1px blue solid;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.informationBannerLink {
    margin-left: 1em;
}

.informationBannerImage {
    min-width: 20vw;
    max-width: 50vw;
    border-radius: 20px;
    border: 1px black solid;
}

.descriptionPanel {
    max-width: 600px;
    border: 1px black solid;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin-left: 1em;
    height: fit-content;
}

.descriptionPanelHeader {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.descriptionSeparator {
    box-shadow: 0px 0px 3px #001F91;
    margin-top: 0;
}

.descriptionPanelText {
    font-size: 0.9em;
    text-align: left;
}

.descriptionPanelButtonContainer {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.descriptionPanelButton {
    height: 2.5em;
    border-radius: 10px;
    background-color: orange;
    color: black;
    border: 1px black solid;
    text-shadow: 0px 0px 1px #001F91;
}

.descriptionPanelButton:active {
    background-color: darkorange;
}